@{
    ViewBag.Title = "Something wrong";
}
<div class="jumbotron">
    <br />
    <h2>Error. Something wrong.</h2>
    <h4>Sorry for this trouble. Try again later.</h4>
    <p>
        <a class="btn btn-primary btn-lg" role="button" href=@Url.Action("Index","Home")>Go to main page.</a>
    </p>
</div>

